name: CI - E2E Cypress
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress-run:
    name: Cypress E2E Setup
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules directory
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        run: yarn install

      - name: Build App
        run: yarn build

      - name: Cypress.io
      - uses: cypress-io/github-action@v4
        with:
          browser: chrome
